.navv {
  text-align: center;  
}

.icons {
padding: 4rem 2.1rem ;
height: 100vh;
}

.navv p {
  font-size: 13px;
  color: rgb(72,73,75);
}

.navv span {
  color: rgb(45,153,240);
}

.navv h4 {
  font-family: Playfair Display,Georgia, serif;
  font-weight: bold;
  font-size: 20px;
  color: black;
}

.navv a {
  color: rgb(72,73,75);
  font-size: 13px;

}

.navv a:hover {
  text-decoration: underline;
  text-underline-offset:3px;

}
